$primary: #f3602b;
$primaryHover: #d33a02;
$black: #161616;
$white: #fff;
$gray-100: #efefef;
$gray-200: #dfdfdf;
$dark:#1b1e38;

//responsive breakpoints--> same as bootstrap
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl:1200px;
