$primary: #f3602b;
$primaryLight: rgba(251, 227, 218, 0.8);
$primaryHover: #d33a02;
$black: #161616;
$white: #fff;
$gray-100: #efefef;
$gray-200: #dfdfdf;
$gray-light: #f5f5f5;
$dark: #1b1e38;

//responsive breakpoints--> same as bootstrap
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
