$primary: #f3602b;
$primaryLight: #fbe3dacc;
$primaryHover: #d33a02;
$black: #161616;
$white: #fff;
$gray-100: #efefef;
$gray-200: #dfdfdf;
$gray-400: #9a9a9a;
$gray-light: #f5f5f5;
$dark: #1b1e38;
$dark2: #22253f;

$yellow:#FFFF00;
$secondary:#4295f5;
$blue:#0866ff;

$border-radius: 0.4rem !default;

//responsive breakpoints--> same as bootstrap
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
