.inputSearch {
  border-radius: 8px;
  border: 1px solid $gray-200;
  color: $black;
  font-size: 0.93875rem;
}

.btnSearch {
  outline: none;
  color: $primary;
  border: none;
  border-radius: 8px;
  background-color: $white;
  position: absolute;
  right: 18px;
  font-weight: 500;
}


@media screen and (min-width: $lg) {
  .searchBar {
    min-width: 400px;
  }
}
