@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Noto+Sans:wght@400;500;600;700&family=Rubik:wght@300;400;500;600;700&family=Source+Sans+3:wght@400;500;600;700&display=swap");
@import './abstracts/variables';
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&family=Source+Sans+3:wght@400;500;600;700&display=swap&family=Inter:wght@200;300;400;500;600;700");

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans 3", sans-serif;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.7rem;
}

h3{
  font-size: 1.5rem;
}

h4{
  font-size: 1.2rem;
}

h5{
  font-size: 1rem;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color:$black;
}

