//utility classes throughout app
.flx-1{
  flex: 1;
}

.text-logo {
  font-size: 2.2rem;
  font-family: "Source Sans 3", sans-serif;
}

.text-underline {
  text-decoration: underline;
}

.text-line-through {
  text-decoration: line-through;
}

.fw-medium {
  font-weight: 500;
}

.fs-tiny {
  font-size: 0.8rem;
}

.fs-text {
  font-size: 0.95rem;
}

.border {
  border: 1px solid $gray-200;
}

.border-bottom {
  border-bottom: 1px solid $gray-200;
}

.border-top {
  border-top: 1px solid $gray-200;
}

.border-light {
  border: 1px solid $gray-100;
}

.border-bottom-light {
  border-bottom: 1px solid $gray-100;
}

.cur-p {
  cursor: pointer;
}

.lh-p {
  line-height: 1.6;
}

.dropdown-icon-btn {
  padding: 8px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $gray-200;
  border-radius: 30px;
  transition: 0.25s ease;
  &:hover {
    background-color: $gray-200;
  }
}

.no-display {
  opacity: 0;
}

.section {
  padding: 40px 0;
}

.section-heading {
  h2 {
    display: block;
    &:after{
      content:'';
      display: block;
      width:160px;
      height: 1px;
      margin-top: 10px;
      background-color: $primary;
    }
  }
}
